# ===== Build Outputs =====
build/
*.exe
*.AppImage
*.dmg
*.deb
*.rpm
*.msi
.task/

# Build outputs
/bin/
*.exe
*.dll
*.so
*.dylib

# Wails generated
frontend/bindings/
.task/checksum/

# Task cache
.task/

# IDE & OS
.idea/
.vscode/
Thumbs.db
.DS_Store


# ===== Dependencies =====
node_modules/
vendor/
libs/


# ===== Runtime / User Data =====
*.db
*.tmp
*.log
listen_stats.json
settings.json
compile_local.cmd

# ===== IDE / OS =====
.task
.VSCodeCounter
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*~
*.ps1

# ===== Misc =====
*.hintrc
*.py
frontend/dist/
